# ===== Общие =====
COMPOSE_PROJECT_NAME=muzilla
APP_ENV=local
APP_DEBUG=true

# ===== PostgreSQL =====
POSTGRES_USER=muzilla
POSTGRES_PASSWORD=muzilla_dev_pass
POSTGRES_DB=muzilla_main

# ===== Main (Laravel) =====
MAIN_APP_KEY=
MAIN_APP_URL=http://localhost
MAIN_DB_DATABASE=muzilla_main
MAIN_DISCOGS_DB_DATABASE=muzilla_discogs

# ===== Discogs (Laravel) =====
DISCOGS_APP_KEY=
DISCOGS_APP_URL=http://localhost
DISCOGS_DB_DATABASE=muzilla_discogs
DISCOGS_API_TOKEN=mbrainz-FSzz-3333

# ===== Redis =====
REDIS_HOST=redis
REDIS_PORT=6379

# ===== Meilisearch =====
MEILI_MASTER_KEY=masterKey123
MEILI_ENV=development

# ===== Reverb =====
REVERB_APP_ID=muzilla
REVERB_APP_KEY=cl7ld0xcsgcjsivbgbhk
REVERB_APP_SECRET=local_secret_change_me
REVERB_HOST=localhost
REVERB_PORT=8080
REVERB_SCHEME=http

# ===== Nuxt =====
NUXT_LARAVEL_URL=http://main-web
NUXT_BACKEND_BASE_URL=http://localhost
NUXT_DISCOGS_BASE_URL=http://discogs-web
NUXT_PUBLIC_YMAPS_API_KEY=
